body {
  background: linear-gradient(90deg, #1b2735, #090a0f);
  color: #fff;
}

.card{
  max-width: 800px;
}

.profile-card {
  background-color: #2e3a59;
  border-radius: 15px;
}

/* Inputs e selects mais compactos */
.form-control,
.form-select {
  height: auto;
  padding: 6px 10px; /* reduzido */
  font-size: 14px;   /* ligeiramente menor */
  line-height: 1.2;  /* mais compacto */
}

/* Espaçamento entre campos do formulário reduzido */
.form-group-custom {
  margin-bottom: 1px; /* antes era 20px */
}

/* Botão Salvar com leve redução opcional */
.save-btn {
  padding: 8px 20px;   /* um pouco mais compacto */
  font-size: 15px;     /* menor que 16px */
}


label {
  font-size: 12px; /* ou 13px para ainda mais compactação */
  margin-bottom: 4px; /* reduz o espaço entre label e input */
  display: block; /* garante o espaçamento correto acima do input */
}
