<body class="py-3">

  <div class="container d-flex justify-content-center mb-3 mt-1">
    <div class="card p-4 shadow-lg w-100 profile-card text-white">
      <div class="row w-100">
        <!-- Coluna da logo -->
        <div class="col-12 col-md-4 d-flex justify-content-center pt-2">
          <img src="assets/Logo_only.webp" alt="Logo" class="img-fluid" style="max-width: 100%; height: 45px;">
        </div>

        <!-- Coluna do título e descrição -->
        <div class="col-12 col-md-8 d-flex flex-column justify-content-center align-items-start pt-2">
          <h3 class="text-center mb-1 fs-5">Criar uma nova conta</h3>
          <p class="text-center mb-1">É rápido e fácil. E aproveite nossos cursos.</p>
        </div>
      </div>

      <hr style="border: none; border-top: 2px solid #ccc; margin-bottom: 10px;" />

      <form [formGroup]="usuarioForm" (ngSubmit)="onRegister()">
        <div class="row form-group-custom" *ngFor="let group of campos">
          <div *ngFor="let campo of group" class="col-md-6 mb-2">
            <label [for]="campo.id" class="form-label">{{ campo.label }}</label>
            <input
              *ngIf="campo.tipo !== 'select' && campo.id !== 'cep'"
              [type]="campo.tipo"
              class="form-control"
              [id]="campo.id"
              [formControlName]="campo.id" />
            <input
              *ngIf="campo.tipo !== 'select' && campo.id === 'cep'"
              [type]="campo.tipo"
              class="form-control"
              [id]="campo.id"
              (ngModelChange)="findCep($event)"
              [formControlName]="campo.id" />
            <select
              *ngIf="campo.tipo === 'select'"
              class="form-select"
              [id]="campo.id"
              [formControlName]="campo.id">
              <option value="">{{ campo.placeholder }}</option>
              <option *ngFor="let opt of campo.opcoes" [value]="opt">{{ opt }}</option>
            </select>
          </div>
        </div>

        <div *ngIf="mostrarCamposBatismo" class="row form-group-custom">
          <div class="col-md-6 mb-2" *ngFor="let batismo of camposBatismo">
            <label [for]="batismo.id" class="form-label">{{ batismo.label }}</label>
            <input
              [type]="batismo.tipo"
              class="form-control"
              [id]="batismo.id"
              [formControlName]="batismo.id" />
          </div>
        </div>

        <div class="mb-2 form-check">
          <input type="checkbox" id="aceitouTermos" formControlName="aceitouTermos" class="form-check-input" />
          <label for="aceitouTermos" class="form-check-label">Aceito os termos de uso</label>
        </div>

        <div class="text-center mt-1">
          <button type="submit" class="btn btn-primary save-btn">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</body>
