<footer class="text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Logotipo na parte superior direita -->
        <div class="col-12 d-flex justify-content-start mb-4 mt-3">
          <img src="assets/Logo_only.webp" alt="Logo" class="img-fluid" style="max-width: 150px;">
        </div>
      </div>
      <div class="row text-center">
        <!-- Coluna 1 -->
        <div class="col-12 col-md-3 mb-3">
          <h5>Sobre</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/home']" class="text-white">Nossa História</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Missão</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Visão</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Valores</a></li>
          </ul>
        </div>
  
        <!-- Coluna 2 -->
        <div class="col-12 col-md-3 mb-3">
          <h5>Serviços</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/home']" class="text-white">Consultoria</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Cursos</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Eventos</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Blog</a></li>
          </ul>
        </div>
  
        <!-- Coluna 3 -->
        <div class="col-12 col-md-3 mb-3">
          <h5>Contatos</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/home']" class="text-white">Email</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Telefone</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Endereço</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Suporte</a></li>
          </ul>
        </div>
  
        <!-- Coluna 4 -->
        <div class="col-12 col-md-3 mb-3">
          <h5>Ajuda</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/home']" class="text-white">FAQs</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Termos e Condições</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Política de Privacidade</a></li>
            <li><a [routerLink]="['/home']" class="text-white">Suporte Técnico</a></li>
          </ul>
        </div>
      </div>
  
      <!-- Seção de redes sociais -->
      <div class="row text-center">
        <div class="col-12 mt-4">
          <p>Siga nossas redes:</p>
          <div>
            <a [routerLink]="['/home']" class="text-white me-3">
              <i class="bi bi-facebook fs-3"></i>
            </a>
            <a [routerLink]="['/home']" class="text-white me-3">
              <i class="bi bi-twitter fs-3"></i>
            </a>
            <a [routerLink]="['/home']" class="text-white me-3">
              <i class="bi bi-instagram fs-3"></i>
            </a>
            <a [routerLink]="['/home']" class="text-white">
              <i class="bi bi-linkedin fs-3"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  