<div class="container my-5">

  <!-- ========================= tabs ========================: -->
  <div class="tabs">
    <button *ngFor="let tab of tabs" (click)="activeTab = tab" [class.active]="activeTab === tab">
      {{ tab }}
    </button>
  </div>

  <div class="tab-content">
    <div *ngIf="activeTab === 'Usuários'">
      <app-listagem-usuarios></app-listagem-usuarios>
    </div>

    <div *ngIf="activeTab === 'Alocar Curso'">
      <app-aloca-cursos></app-aloca-cursos>
    </div>

    <div *ngIf="activeTab === 'Progresso'">
      <h2>Progresso</h2>
      <p>Conteúdo de progresso aqui.</p>
    </div>

    <div *ngIf="activeTab === 'Ficha'">
      <h2>Ficha</h2>
      <p>Conteúdo da ficha aqui.</p>
    </div>

    <div *ngIf="activeTab === 'Outro 1'">
      <h2>Outro 1</h2>
      <p>Conteúdo outro 1.</p>
    </div>

    <div *ngIf="activeTab === 'Outro 2'">
      <h2>Outro 2</h2>
      <p>Conteúdo outro 2.</p>
    </div>

    <div *ngIf="activeTab === 'Outro 3'">
      <h2>Outro 3</h2>
      <p>Conteúdo outro 3.</p>
    </div>
  </div>

</div>
