<footer class="text-white py-4 ">
  <div class="container">
    <div class="row">
      <!-- Logotipo na parte superior direita -->
      <div class="col-12 d-flex justify-content-start mb-4 mt-3">
        <img src="assets/Logo_only.webp" alt="Logo" class="img-fluid" style="max-width: 150px;">
      </div>
    </div>

          <!-- Coluna 1 -->
    <!-- <div class="row text-center">

      <div class="col-12 col-md-3 mb-3">
        <h5>Sobre</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/home']" class="text-white">Nossa História</a></li>
          <li><a [routerLink]="['/home']" class="text-white">Missão</a></li>
          <li><a [routerLink]="['/home']" class="text-white">Visão</a></li>
          <li><a [routerLink]="['/home']" class="text-white">Valores</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Seção de redes sociais -->
    <div class="row text-center">
      <div class="col-12 mt-1">
        <p>Siga nossas redes:</p>
        <div>
          <a [routerLink]="['/homeEscolaDigital']" class="text-white me-3">
            <i class="bi bi-facebook fs-3"></i>
          </a>
          <a [routerLink]="['/homeEscolaDigital']" class="text-white me-3">
            <i class="bi bi-twitter fs-3"></i>
          </a>
          <a [routerLink]="['/homeEscolaDigital']" class="text-white me-3">
            <i class="bi bi-instagram fs-3"></i>
          </a>
          <a [routerLink]="['/homeEscolaDigital']" class="text-white">
            <i class="bi bi-linkedin fs-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
