<div class="container pb-5" style="background-color: #181818;">
  <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Lançamentos</h2>
  <div class="row g-4">
    <!-- Vídeo 1 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Teologia</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 2 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Fé Cristã</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 3 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Celebrando a Recuperação</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Homem ao máximo</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- ==========================================   2   ============================================================= -->
 <div class="container pb-5" style="background-color: #181818;">
  <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Escola Bíblia</h2>
  <div class="row g-4">
    <!-- Vídeo 1 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Estudos do Novo Testamento</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 2 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Escatologia</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 3 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">Interpretação Bíblica</p>
        </div>
      </div>
    </div>
    <!-- Vídeo 4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
        <div class="card-body">
          <p class="card-text text-center">A Doutrina do Espírito Santo</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==========================================   3   ============================================================= -->


<div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Cursos de Família</h2>
    <div class="row g-4">
      <!-- Vídeo 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Casados Pra Sempre</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">One - Cursos de Noivos</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Pais pra toda vida</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 4 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Homem ao máximo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   
  <!-- ==========================================   3   ============================================================= -->
  <div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Desinvolvimento Pessoal</h2>
    <div class="row g-4">
      <!-- Vídeo 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Aducação Financeira</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Piscologia Cristã</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Celebrando a Recuperação</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 4 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Liderança</p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- ==========================================   3   ============================================================= -->
   <div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Formação de Líderes</h2>
    <div class="row g-4">
      <!-- Vídeo 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Líder de Célula</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Anfitrião de Célula</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Supervisor de Célula</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 4 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Professor</p>
          </div>
        </div>
      </div>
    </div>
  </div>