<div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Educação Financeira</h2>
    <div class="row g-4">
      <!-- Vídeo 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Aula 1</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 2 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Aula 2</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 3 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Aula 3</p>
          </div>
        </div>
      </div>
      <!-- Vídeo 4 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text text-center">Aula 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- ==========================================   2   ============================================================= -->
  <div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Psicologia Cristã</h2>
    <div class="row g-4">
            <!-- Vídeo 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 1</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 2</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 3</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 4 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 4</p>
                </div>
              </div>
            </div>
    </div>
  </div>

  <!-- ==========================================   3   ============================================================= -->
  <div class="container pb-5" style="background-color: #181818;">
    <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Celebrando a Recuperação</h2>
    <div class="row g-4">
            <!-- Vídeo 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 1</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 2</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 3</p>
                </div>
              </div>
            </div>
            <!-- Vídeo 4 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card h-100">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text text-center">Aula 4</p>
                </div>
              </div>
            </div>
    </div>
  </div>