<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img class="logo-menu" src="assets/Logo_only.webp" alt="Logo" id="logo-img">
    </a>

<!-- Div para campo de pesquisa com ícone -->
<div class="search d-flex align-items-center d-lg-none ms-auto me-3">
  <input type="text" class="form-control me-2" placeholder="Pesquisar..." [(ngModel)]="searchQuery" name="searchQuery">
  <button class="btn btn-outline-light" (click)="searchVideos(searchQuery)">
    <i class="bi bi-search"></i> <!-- Ícone de pesquisa do Bootstrap -->
  </button>
</div>



    <!-- Botão para alternar o menu em telas pequenas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu de navegação -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4 pt-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Início</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/EscolaBiblica']" routerLinkActive="router-link-active">Escola Bíblica</a></li>
            <li><a class="dropdown-item" [routerLink]="['/CursosDeFamilia']">Cursos de Família</a></li>
            <li><a class="dropdown-item" [routerLink]="['/DesenvolvimentoPessoal']">Desenvolvimento Pessoal</a></li>
            <li><a class="dropdown-item" [routerLink]="['/FormacaoDeLideres']">Formação de Líderes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/Lancamentos']">Lançamentos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administração
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/EscolaBiblica']">Alunos Matriculados</a></li>
            <li><a class="dropdown-item" [routerLink]="['/EscolaBiblica']">Cursos em Revisão</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/EscolaBiblica']">Novidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/FaleConosco']">Fale Conosco</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light d-lg-none btn-login-toggled" ><a class="nav-link active" #aToggled aria-current="page" [routerLink]="['/LoginPage']">Login</a></button>
        </li>
        </ul>
            <!-- Formulário de pesquisa -->
            <form class="d-flex d-none d-lg-flex searchBar" (ngSubmit)="searchVideos(searchQuery)">
              <input class="form-control me-2" #searchBarInput type="search" placeholder="Pesquisar..." [(ngModel)]="searchQuery" name="searchQuery" required>
              <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
            </form>
      
            <!-- Botão de login -->
            <button class="btn btn-outline-light  d-none d-lg-flex btnLogin" type="submit" [routerLink]="['/LoginPage']">Login</button>
    </div>
  </div>
</nav>
