/* You can add global styles to this file, and also import other style files */



/* #CORES OFICIAIS: */
:root {
--azul-intenso: #002FA6;
--branco-gelo: #EDEDED;
}


/* #GRADIENTE BRANCO GELO OFICIAIL: */
:root {
    background: linear-gradient(to left, #EDEDED, white 50%, #EDEDED);
}
