/* You can add global styles to this file, and also import other style files */



/* #CORES OFICIAIS: */
:root {
--azul-intenso: #002FA6;
--branco-gelo: #EDEDED;
}


/* #GRADIENTE BRANCO GELO OFICIAIL: */
:root {
    background: linear-gradient(to left, #EDEDED, white 50%, #EDEDED);
}


/* #CORES PADRÕES DO SITE PIB RECREIO: */
/* :root{
    --e-global-color-primary: #232323;
    --e-global-color-secondary: #545454;
    --e-global-color-text: #232323;
    --e-global-color-accent: #1F99D5;
    --e-global-color-8585576: #AED4F1;
    --e-global-color-3b9ffa1: #1F99D5;
    --e-global-color-c5cab9b: #184472;
    --e-global-color-ede2d41: #EC3625;
    --e-global-color-3e3b502: #F5E32F;
    --e-global-color-612eed8: #232323;
    --e-global-color-f27808d: #545454;
    --e-global-color-cbfad0b: #EDEDED;
} */