    <div class="container pb-5" style="background-color: #181818;">
      <h2 class="text-start fs-4 fw-bold mb-4" style="color: white" >Cursos de Família</h2>
      <div class="row g-4">
        <!-- Vídeo 1 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 1" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Casados Pra Sempre</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 2 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 2" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">One - Cursos de Noivos</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 3 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 3" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Pais pra toda vida</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 4 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 4" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Homem ao máximo</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 5 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/hT_nvWreIhg" title="Vídeo 5" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 5</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 6 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/JGwWNGJdvx8" title="Vídeo 6" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 6</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 7 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/9bZkp7q19f0" title="Vídeo 7" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 7</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 8 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/2Vv-BfVoq4g" title="Vídeo 8" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 8</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 9 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/3JZ_D3ELwOQ" title="Vídeo 9" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 9</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 10 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Vídeo 10" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 10</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 11 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/l9nh1l8ZIJQ" title="Vídeo 11" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 11</p>
            </div>
          </div>
        </div>
        <!-- Vídeo 12 -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100">
            <iframe class="card-img-top" src="https://www.youtube.com/embed/hT_nvWreIhg" title="Vídeo 12" frameborder="0" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text text-center">Descrição do vídeo 12</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    